
.container {
    width: 100vw;
    height: 100vh;
    background: url('') no-repeat center center fixed;
    background-size: cover;
  }

  .form-container {
    position: relative;
    padding: 50px 40px;
  }
  .form-container-in {
    position: absolute;
    background-color: #f5f5f500;
    top: 0;
    left: 0;
    right:0;
    bottom: 0;
    opacity: 0.9;
  }
  .log-container {
     text-align: center;
  }
  .flex-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /*centers items on the line (the x-axis by default)*/
    align-items: center;
  }
  p.lead {
    padding: 15px 10px;
    position: relative;
    z-index: 10;
  }
  
  .row.full {
    width: 100%;
  }
  .left-divider {
    border-left: solid 1px #78909C;
    padding-left: 20px;
  }
  .lead-text {
    text-align: center;
    padding: 10px;
    font-weight: 300;
    font-size: 1.8em;
    line-height: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
  /* social */
  #social-media {
    position:relative;
    top:100px;
    top:25vh;
    font-size:1rem;
    text-align:center;
    overflow:hidden;
  }
  
  .btnn {
    width:100%;
    clear:both;
    white-space:nowrap;
    font-size:.8em;
    display:block;
    border-radius:5px;
    box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.35);
    margin:2px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    overflow:hidden
  }
  
  .btnn:hover {
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.45);
  }
  
  .btnn:focus {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
  }
  
  .btnn > span,.btnn-icon > i {
    float:left;
    padding:13px;
    -webkit-transition:all .5s;
    -moz-transition:all .5s;
    transition:all .5s;
    line-height:1em
  }
  
  .btnn > span {
    padding:14px 18px 16px;
    white-space:nowrap;
    color:#FFF;
    background:#b8b8b8
  }
  
  .btnn:hover > span {
    color:#212121;
    font-weight:900;
  }
  
  .btnn:focus > span {
    background:#9a9a9a
  }
  
  .btnn-icon > i {
    border-radius:5px 0 0 5px;
    position:relative;
    width:20px;
    text-align:center;
    font-size:1.25em;
    color:#fff;
    background:#212121
  }
  
  .btnn-icon > i:after {
    content:"";
    border:8px solid;
    border-color:transparent transparent transparent #222;
    position:absolute;
    top:13px;
    right:-15px
  }
  
  .btnn-icon:hover > i,.btnn-icon:focus > i {
    color:#FFF;
  }
  
  .btnn-icon > span {
    border-radius:0 5px 5px 0
  }
  
  /*Facebook*/
  .btnn-facebook:hover > i,.btnn-facebook:focus > i {
    color:#3b5998;
    width:50%;
  }
  
  .btnn-facebook > span {
    background:#3b5998;
    width:50%;
  }
  
  /*Instagram*/
  .btnn-instagram:hover > i,.btnn-google:focus > i {
    color:#f00000;
    width:50%;
  }
  
  .btnn-instagram > span {
    background:#9500ff;
    width:50%;
  }
  .media-container {
    padding: 5px 20px;
  }
  
  .contactBody{
    background-color: ;
    background-size: cover;
    background-attachment: fixed;
    height:700px;

}
.title{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding-bottom: 10px;
    font-size: 42px;
    color: rgb(252, 252, 252);
  }

  #title-Tag-Line{
      font-size: 20px;
  }

/* form animation starts */
  .form {
    background: #007bf6;
    text-align: center; 
    box-shadow: 0px 0px 20px 5px #AAA; 
    border-radius: 10px;  
    width: 45%; 
    height: 450px;
    margin: 30px auto 1 auto;
    padding: 10px 10px;  
    animation: bounce 1.5s infinite;
  }

.name { 
    background-color: #DF1B76;
    border-bottom: 5px solid #B2175F;
    color: white;
    width:300px;
  }

  ::-webkit-input-placeholder{
      color: white;
      font-size: 20px;
  }
  .name:hover{
    background-color: #DF1B76;
    border-bottom: 5px solid #B2175F;
    height:30px;
    width:400px;
  }

  .email {
    background-color: #7239C1;  
    border-bottom: 5px solid #502789;
    height:50px;
    width:300px;
    
  }
  .email:hover{
    background-color: #7239C1;  
    border-bottom: 5px solid #502789;
    height:30px;
    width:380px;
   
  }
  .telefono {   
    background-color: rgb(230, 108, 15);
    border-bottom: 5px solid rgb(195, 35, 17);
    overflow: hidden;
    height: 100px;  
    width:300px;
  }

  .telefono:hover{
    background-color: #2DD7BB;
    border-bottom: 5px solid #2BB09A;
    height: 100px;
    width:370px;
  }

  .submit{
    border-radius:5px;
    padding:10px;
    background-color: #2DD7BB;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    transform: translateY(-120px); 

  }

  .submit:hover{
    border-bottom: 5px solid #CB64B2;  
    box-shadow: 15px 15px 15px 5px rgba(78, 72, 77, 0.219);
  }

  .entry{
    display: block;
    margin: 30px auto;
    padding: 10px;
    border-radius: 5px;
    border: none;
    transition: all 0.5s ease 0s;
    box-shadow: 0px 0px 25px 2px #AAA;  
  }

  /* Shadow to make it look like form is floating  */
  .shadow{
    box-shadow: 0px 0px 60px 5px #AAA;
    opacity: 0.5;
    border-radius: 100px;
    width: 50%; 
    margin: 50px auto 0 auto;
    padding: 0 20px;  
    animation: shadow 1.5s infinite;
  }
.submit{
    border-radius:5px;
    padding:10px;
    width:150px;
    color: white;
    background-color: #EE78D1;  
    border: none;
    border-bottom: 5px solid #CB64B2; 
    margin-top: 150px; 

  }



  @keyframes bounce{
    0%{
      
    }
    50%{
      transform: translate(0, 8px);
    }

  }
  @keyframes shadow{
    0%{
      
    }
    50%{
      opacity: 0.8;
      width: 50%;
    }
  }